html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



header {
    text-align: center;
    background-color: rgb(179, 181, 185);
}
footer{
    text-align: center;
    background-color: rgb(235, 156, 172);
}




input {
    height: 30px;
    border: 1px rgb(50, 4, 253) solid;
    border-radius: 10px;
}

#Total {
    font-size: 24px;
    color: rgb(47, 172, 9);
}

#calc-Button {
    display: -webkit-inline-box;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border: 1px rgb(25, 10, 233) solid;
    border-radius: 40px;
}

#calc-Button {
    cursor: pointer;
    background-color: rgb(232, 128, 241);
}




